@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mint: rgb(221, 244, 231);
  --green: rgb(103, 192, 144);
  --transparent-green: rgba(103, 192, 144, 0.5);
  --teal: rgb(38, 102, 127);
  --navy: rgb(18, 65, 112);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--navy);
  color: var(--mint);
}

input {
  background: var(--navy);
  color: var(--mint);
  border: none;
  border-bottom: solid 2px var(--green);
  outline: none;
  padding: 5px;
}

input:focus {
  outline: none;
}

button {
  background: var(--mint);
  color: var(--navy);
  font-weight: bold;
  padding: 5px;
  border-radius: 8px;
  width: 10rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: var(--green);
}