@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mint: rgb(221, 244, 231);
  --green: rgb(103, 192, 144);
  --transparent-green: rgba(103, 192, 144, 0.5);
  --teal: rgb(38, 102, 127);
  --navy: rgb(18, 65, 112);
}

body {
  /* background: url('/1760553720431.png'); */
  background-color: var(--navy);
  background-size: cover;
  color: var(--mint);
  margin-top: 10em;
}

header {
  background: linear-gradient(to bottom, var(--navy) 50%, transparent 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

input {
  background: var(--navy);
  color: var(--mint);
  border: none;
  border-bottom: solid 2px var(--green);
  outline: none;
  padding: 5px;
}

input:focus {
  outline: none;
}

button {
  background: var(--mint);
  color: var(--navy);
  font-weight: bold;
  padding: 5px;
  border-radius: 8px;
  width: 10rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: var(--green);
}